body {
    background-color: #C9CCD5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    margin-bottom: 64px;
}
.foto {
    padding: 20px;
}

.tentang {
    margin: auto;
    padding: 150px;
    text-align: center;
    margin-bottom: 148px;
}
.kegiatan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.kartu {
    flex-wrap: wrap;
    width: 400px;
    margin: 50px;
    padding: 20px;
    height: auto;
    justify-content: space-evenly
}
.kartu img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.kartu p {
    text-align: center;
    font-size: 20px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: auto;
    padding: 50px;
}
.hobi {
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
    height: auto;
}
.hobi img {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 480px) {
    .content {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 45px;
    }
    .tentang {
        margin: auto;
        padding: 45px;
        text-align: center;
    }
    .kegiatan {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: -78px;
    }
    .hobi img {
        width: 255px;
        height: auto;
    }
}